.container {
  background-color: lightslategrey;
  padding: 4px;
  margin-top: 124px;
}

.post {
  padding: 0.1rem 0.1rem 0.1rem;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #0000001f;
  min-height: 2rem;
  margin-bottom: 4px;
  background-color: #ffffff;
}

.post-title {
  margin: 10px;
  font-family: sans-serif;
  font-size: 1.2rem;
  color: darkslateblue;
  cursor: pointer;
}

.post-desc {
  margin: 10px;
  font-size: 16px;
  opacity: 0.7;
  color: black;
  overflow: hidden;
  align-items: center;
}

.post-image {
  width: 96%;
  height: 96%;
  margin-left: 8px;
  border-radius: 10px;
  border: 1px solid #0000001f;
}

.activity-body {
  border-spacing: 8px;
  font-size: 0.8rem;
  color: black;
  background-color: white;
}

.img {
  width: 16px;
  height: 16px;
}
