.input-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #00000038;
  top: 72px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.btn-refresh {
  background-color: #ffffff;
  border: none;
  color: #0000ff;
}

.img-refresh {
  width: 24px;
  height: 24px;
}
