.box {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.push {
  margin-left: 5px;
  justify-content: space-between;
}

.space {
  margin-left: 5px;
}

.right-align {
  margin-right: 5px;
}

.left-align {
  margin-left: 5px;
}
