.App {
  background-color: darkkhaki;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  z-index: 1;
  background: #5dade2;
  color: black;
  font-size: 0.8rem;
  padding: 0.5rem;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.offline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100wh;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

.off-header {
  font-weight: bold;
  font-size: 24px;
  color: lightslategrey;
  margin-top: 16px;
}

.off-msg {
  font-weight: bold;
  margin-top: 8px;
  font-size: 20px;
}

.splashscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100wh;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-icon {
  color: orangered;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wait-msg {
  font-weight: bold;
  margin: 16px;
}

.site-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  left: 26px;
  top: 19px;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
